<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
>
    <testsuites>
        <testsuite name="ECommerce tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <file>vendor/</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
